* {
  text-align: center;
}

nav .navleft {
  float: left;
}

nav .navright {
  float: right;
}

.navbox {
  position: relative;
  font-size: 14px;
  padding: 7px 22px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

nav {
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  display: block;
}

nav li {
  display: inline-block;
  font-size: 13px;
  padding:12px;
  font-family: arial,sans-serif;
}

#logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
}

#searchbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchbuttons {
  margin-top: 10px;
  margin-bottom: 80px;
}

nav .business {
  float: left;
}

nav .privacy {
  float: right;
}

footer {
  background: #f2f2f2;
  overflow: auto;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  bottom: 0px;
  width: 100%;
}